@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Lato', sans-serif;
}
body {
    position: relative;
}

.main {
    background: #2C3E50 !important;
}

.nav-item a {
    transition: .4s;
}

.nav-item a:hover {
    /* color: #1ABC9C !important; */
}

.middle_div {
    background: #1ABC9C !important;
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
}

h1 {
    font-size: 80px;
}

.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-star {
    font-size: 35px !important;
}
.masthead-subheading {
    font-size: 25px !important;
}
h2 {
    font-size: 50px;
    color: #2C3E50;
}
.row div img {
    cursor: pointer;
}

.custom1 {
    position: relative;
}
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    z-index: 2;
    opacity: 0;
    transition: 0.3s;
}
.custom1:hover .icon {
    opacity: 1;
}

.custom1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1ABC9C;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}
.custom1:hover::after {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .masthead-heading {
        font-size: 2rem;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .masthead-heading {
        font-size: 2.5rem;
    }
}
#about {
    height: auto;
    background-color: #1ABC9C;
}





